---
import { FontAwesomeIcon } from "astro-fontawesome";
import { faHome, faBookmark, faMap } from "@fortawesome/free-regular-svg-icons";
import {
    faMagnifyingGlass,
    faLocationDot,
    faMapPin,
    faUserPlus,
    faBars,
} from "@fortawesome/free-solid-svg-icons";
import "../fontawesome";
---

<header class="overflow-hidden bg-[#676767]">
    <div class="@container max-w-full">
        <!-- Hidden checkbox toggle -->
        <input id="menu-toggle" type="checkbox" class="peer hidden" />

        <div class="flex items-center justify-between p-2">
            <!-- Hamburger (mobile only) -->
            <label
                for="menu-toggle"
                class="cursor-pointer block @min-[600px]:hidden p-3"
            >
                <FontAwesomeIcon icon={faBars} />
            </label>

            <!-- Desktop Menu -->
            <nav class="hidden @min-[600px]:flex space-x-2">
                <ul>
                    <li class="float-left">
                        <a
                            href="/"
                            class="block p-7.5 my-0 mx-5 font-archivo sticky z-1000 hover:bg-[gray] hover:rounded-[50px] hover:text-[lightgreen] text-[15px] @min-[1450px]:text-[20px]"
                            ><FontAwesomeIcon icon={faHome} /> Home</a
                        >
                    </li>
                    <li class="float-left">
                        <a
                            href="/about"
                            class="block p-7.5 my-0 mx-5 font-archivo sticky z-1000 hover:bg-[gray] hover:rounded-[50px] hover:text-[lightgreen] text-[15px] @min-[1450px]:text-[20px]"
                            ><FontAwesomeIcon icon={faMagnifyingGlass} /> About</a
                        >
                    </li>
                    <li class="float-left">
                        <a
                            href="/stations"
                            class="block p-7.5 my-0 mx-5 font-archivo sticky z-1000 hover:bg-[gray] hover:rounded-[50px] hover:text-[lightgreen] text-[15px] @min-[1450px]:text-[20px]"
                            ><FontAwesomeIcon icon={faLocationDot} /> Stations</a
                        >
                    </li>
                    <li class="float-left">
                        <a
                            href="https://wiki.novamtr.org"
                            class="block p-7.5 my-0 mx-5 font-archivo sticky z-1000 hover:bg-[gray] hover:rounded-[50px] hover:text-[lightgreen] text-[15px] @min-[1450px]:text-[20px]"
                            ><FontAwesomeIcon icon={faBookmark} /> Wiki</a
                        >
                    </li>
                    <li class="float-left">
                        <a
                            href="https://squaremap.novamtr.org"
                            class="block p-7.5 my-0 mx-5 font-archivo sticky z-1000 hover:bg-[gray] hover:rounded-[50px] hover:text-[lightgreen] text-[15px] @min-[1450px]:text-[20px]"
                            ><FontAwesomeIcon icon={faMap} /> System Map</a
                        >
                    </li>
                    <li class="float-left">
                        <a
                            href="http://system-map.novamtr.org"
                            class="block p-7.5 my-0 mx-5 font-archivo sticky z-1000 hover:bg-[gray] hover:rounded-[50px] hover:text-[lightgreen] text-[15px] @min-[1450px]:text-[20px]"
                            ><FontAwesomeIcon icon={faMapPin} /> Squaremap</a
                        >
                    </li>
                    <li class="float-left">
                        <a
                            href="/#join"
                            class="block p-7.5 my-0 mx-5 font-archivo sticky z-1000 bg-[cornflowerblue] text-center hover:bg-[skyblue] text-[15px] @min-[1450px]:text-[20px]"
                            ><FontAwesomeIcon icon={faUserPlus} /> Join now!</a
                        >
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Mobile Menu -->
        <nav
            class="max-h-0 overflow-hidden peer-checked:max-h-170 transition-all duration-300 @min-[600px]:hidden flex flex-col"
        >
            <ul>
                <li>
                    <a
                        href="/"
                        class="block p-7.5 my-0 mx-5 font-archivo sticky z-1000 hover:bg-[gray] hover:rounded-[50px] hover:text-[lightgreen] text-[20px]"
                        ><FontAwesomeIcon icon={faHome} /> Home</a
                    >
                </li>
                <li>
                    <a
                        href="/about"
                        class="block p-7.5 my-0 mx-5 font-archivo sticky z-1000 hover:bg-[gray] hover:rounded-[50px] hover:text-[lightgreen] text-[20px]"
                        ><FontAwesomeIcon icon={faMagnifyingGlass} /> About</a
                    >
                </li>
                <li>
                    <a
                        href="/stations"
                        class="block p-7.5 my-0 mx-5 font-archivo sticky z-1000 hover:bg-[gray] hover:rounded-[50px] hover:text-[lightgreen] text-[20px]"
                        ><FontAwesomeIcon icon={faLocationDot} /> Stations</a
                    >
                </li>
                <li>
                    <a
                        href="https://wiki.novamtr.org"
                        class="block p-7.5 my-0 mx-5 font-archivo sticky z-1000 hover:bg-[gray] hover:rounded-[50px] hover:text-[lightgreen] text-[20px]"
                        ><FontAwesomeIcon icon={faBookmark} /> Wiki</a
                    >
                </li>
                <li>
                    <a
                        href="https://squaremap.novamtr.org"
                        class="block p-7.5 my-0 mx-5 font-archivo sticky z-1000 hover:bg-[gray] hover:rounded-[50px] hover:text-[lightgreen] text-[20px]"
                        ><FontAwesomeIcon icon={faMap} /> System Map</a
                    >
                </li>
                <li>
                    <a
                        href="http://system-map.novamtr.org"
                        class="block p-7.5 my-0 mx-5 font-archivo sticky z-1000 hover:bg-[gray] hover:rounded-[50px] hover:text-[lightgreen] text-[20px]"
                        ><FontAwesomeIcon icon={faMapPin} /> Squaremap</a
                    >
                </li>
                <li>
                    <a
                        href="index.html#join"
                        class="block p-7.5 my-0 mx-5 font-archivo sticky z-1000 bg-[cornflowerblue] text-center text-[20px] hover:bg-[skyblue] mt-2.5 mb-5 text-[20px]"
                        ><FontAwesomeIcon icon={faUserPlus} /> Join now!</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>
